$light-blue: #edf2f7;
$white: #fff;
$blue: #0b63dc;
$grey: #383b3f;
$light-grey: #aeb3b8;


body {
  background-color: $light-blue;
}
.fa-search.fa-w-16 {
  position: absolute;
  margin-left: 36%;
  color: #979ea3;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border: 1px solid #dbe2ed;
  background-color: #fff;
  padding: 11px 10px 10px 12px;
  @media(max-width: 885px) {
    margin-left: 31%;
  }
  @media(max-width: 690px) {
    margin-left: 0;
  }
}

input#filter {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  border: 1px solid #dbe2ed;
  border-radius: 3px;
  color: #979ea3;
  outline: 0;
  padding: 0 17px;
  font-family: 'Open Sans', sans-serif;
}

.article-row {
  display: flex;
  flex-wrap: wrap;
}

.article {
  color: $blue;
  border: 1px solid #dbe2ed;
  border-radius: 4px;
  background-color: #fff;
  margin-bottom: 20px;
  padding: 10px;
  flex: 1;
  padding: 20px;
  max-width: 33.333333%;
  .title {
    color: $blue;
    font-size: 14px;
    font-weight: 600;
  }
  p.content {
    color: $grey;
  }
  .author {
    color: $light-grey;
  }
}

